

frontend/node_modules
frontend/dist
server/node_modules
server/dist
# Environment variables
server/.env
frontend/.env
# Local development files
server/*.local
frontend/*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
